<body>
    <div class="parking-layout-card">
    <h2>Wybierz miejsce parkingowe</h2>
    <div class="parking-grid">

    @for(place of parkingSpaces ; track place){
    <div
    class="parking-spot"
    [class.selected]="place.clicked === true"
    [class.taken]="place.status === false && place.clicked === false"
    
    (click)="selectPlace(place.id   )">
        
        <p>{{place.id}}</p>
        </div>

    }

    </div>
        <div class="legend">
        <div class="legend-item">
        <span class="spot-example available"></span> Wolne
        </div>
        <div class="legend-item">
        <span class="spot-example taken"></span> Zajęte
        </div>
        <div class="legend-item">
        <span class="spot-example selected"></span> Twój wybór
        </div>
        
        </div>
    <button class="confirm-button" (click)="takePlace()">Potwierdź wybór</button>
    </div>
     @if (adminFlag) {
        <button class="admin-btn" (click)="adminRedirect()">panel admina</button>
    }
    <button class = "reser-btn" (click)="reserRedirect()">Moje rezerwacje</button>
</body>

